// MIT License
//
// Copyright (c) 2022 International Business Machines
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
// documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
// Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
// OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

nav.navbar.navbar-expand-md.navbar-light.cs-palette-menu.m-0#cs-navbar-palette-top
    div.navbar-nav.mr-5
        div.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.active#cs-navbar-palette(role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                        img.bg-dark.rounded-pill(src="./images/cs/icon-options.png", width="20", height="20", title="Palette menu")
                    div.dropdown-menu.dropdown-menu-right(aria-labelledby="cs-navbar-palette")#cs-nav-palette
                        a.dropdown-item#cs-add-palette-section Add section...
                        a.dropdown-item#cs-add-palette-item Add item...
                        div.dropdown-divider
                        a.dropdown-item#cs-create-new-palette New palette...
                        a.dropdown-item#cs-import-palette Import palette...
                        div.dropdown-divider
                        a.dropdown-item#cs-reload-palette Reload palette
                        a.dropdown-item#cs-save-palette Save palette
                        a.dropdown-item#cs-save-palette-as Save palette as...
                        a.dropdown-item#cs-export-palette Export palette...
                        a.dropdown-item#cs-delete-palette Delete palette...
