// MIT License
//
// Copyright (c) 2022 International Business Machines
//
// Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
// documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
// permit persons to whom the Software is furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
// Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
// WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
// OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
// OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

div.position-relative#cs-toasts(aria-live="polite", aria-atomic="true", style="min-height: 200px; top: 150px;")
    div.d-flex.justify-content-center.align-items-center
        .toast#cs-toast-1(role="alert", aria-live="assertive", aria-atomic="true", data-delay="2000", data-animation="true")
            .toast-header(role="alert", aria-live="assertive", aria-atomic="true")
                img.rounded.mr-2(src="./images/cs/favicon_dark.png", width="40", height="40", alt="Cogni-Sketch")
                strong.mr-auto Cogni-Sketch
                button.ml-2.mb-1.close(type="buttpn", data-dismiss="toast", aria-label="Close")
                    span(aria-hidden="true") &times;
            .toast-body#cs-toast-message-1
    div.d-flex.justify-content-center.align-items-center
        .toast#cs-toast-2(role="alert", aria-live="assertive", aria-atomic="true", data-delay="2000", data-animation="true")
            .toast-header(role="alert", aria-live="assertive", aria-atomic="true")
                img.rounded.mr-2(src="./images/cs/favicon_dark.png", width="40", height="40", alt="Cogni-Sketch")
                strong.mr-auto Cogni-Sketch
                button.ml-2.mb-1.close(type="buttpn", data-dismiss="toast", aria-label="Close")
                    span(aria-hidden="true") &times;
            .toast-body#cs-toast-message-2
